<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<title>Hello World from Thymeleaf</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script> 
     <script src="js/controller.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body style="background: #dbf0ed;">
<h2 th:text="${hello}"></h2><br><br>
<h3>Go Hello</h3>
<a href="hello"><button style="background: blue" type="button" class="btn btn-default"/><label style="color: white">GO</label></button></a><br>

<h2>Go User List</h2>
<a href="User.jsp"><button style="background: blue" type="button" class="btn btn-default"/><label style="color: white"/>GO</label></button></a><br>

<h3>Go Bye</h3>
<a href="bye"><button style="background: blue" type="button" class="btn btn-default"/><label style="color: white">GO</label></button></a>
</body>
</html>